@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cabin', sans-serif;
}

/*--------------------------------------------------------Navbar*/

.navbar {
    background-color: #Ede0de;
    padding-left: 20px;
    padding-right: 20px;;
}

@media screen and (max-width: 560px) {
    .navbar-brand {
    width: 130px;
    }
}

.navbar-light .navbar-brand {
    font-size: 35px;
    font-weight: 700;
    color: #4c8474;
    text-decoration-line: underline;
   text-decoration-style: wavy;
}

.active-menu {
    color: #4c8474 !important;
    border-bottom: 2px solid #4c8474 !important;
    font-weight: bolder;
}

/*ID used to stick footer to bottom of all html pages
#container {
    min-height:100%;
    position:relative;
}*/


.flash-message {
    text-align: center;
    font-weight: 700;
    padding-top: 100px;
}

.flash-message-style {
    color: #b47464;
}

/*--------------------------------------------------------index.html*/


.index-main {
    padding-top: 100px;
}

.index-main h2 {
    padding-top: 30px;
    font-weight: 300;
}

.index-cards {
    padding-top: 60px;
    padding-bottom: 20px;
}

.index-card-style {
    padding-top: 10px;
}
.index-card-1 {
    background-color: #fbdc8e;
    padding-top: 10px;
}

.index-card-2 {
   background-color: #56b39c;
    padding-top: 10px;
}

.index-card-3 {
   background-color: #ab8de5;
   padding-top: 10px;
   
}

/*--------------------------------------------------------Footer*/
#footer {
    background-color: #f9eae9;
    padding: 10px;
    margin-top: 20px;
}

.fa-facebook-f {
    color: #4c8474;
    font-size: 1.5rem;
    padding: 10px;
}

.fa-instagram {
    color: #4c8474;
    font-size: 1.5rem;
    padding: 10px;
}

/*--------------------------------------------------------tips.html*/


.tips {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .tips{
    padding-top: 30px;
    }
}

.tips-title {
    padding-top: 150px;
}

@media screen and (max-width: 768px) {
    .tips-title{
    text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .tips-title {
    padding-top: 30px;
    }
}

.tips-search {
    padding: 50px;
}

.tip-suggestion-card {
    padding-top: 10px;
    background-color: #fbdc8e;
}

.search-tips {
    font-size: 30px;
    font-weight: bold;
}

.btn-tips-search {
    background-color: #ab8de5;
}

.btn-tips-reset {
    background-color: #b47464;
}

.btn-tips-update {
    background-color: #56b39c;
}

/*--------------------------------------------------------add_tip.html*/

.add-tip-image {
    padding-top: 30px;
}


.add-tip-heading {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-tip-form {
    width: 800px;
    padding: 10px;
    background-color: #56b39c;
}

@media screen and (max-width: 540px) {
    .add-tip-form {
        width: 350px;
        padding-right:10px;
        padding-left:10px;
    }
}

.btn-share-tip {
    background-color: #fbdc8e;
}

.btn-cancel-tip {
    background-color: #b47464;
}

.login-form {
    padding-top: 30px;
    padding: 20px;
}

.btn-login {
    background-color: #ab8de5;
}

/*--------------------------------------------------------mytips.html*/

.login-image {
    height: 30rem;
    padding: 20px;;
}

.mytips-suggestion-card {
    padding-top: 10px;
    background-color: #fff;
}

.my-tips-header {
    padding: 20px;
}

.my-tips-header h3{
    font-size: 35px;;
    padding-top: 10px;
    color: #4c8474;
    font-weight: 600;
}

.btn-logout {
    background-color: #78e5e1;
}

.btn-tips-delete {
    background-color: #b47464;
}

.btn-edit {
    background-color: #92d0c0;
}

.my-tips-section {
    padding-top: 20px;
}

/*--------------------------------------------------------edit_tip.html*/


.edit-tip-heading {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4c8474;
}

.edit-tip-form {
    width: 800px;
    padding: 10px;
}

@media screen and (max-width: 540px) {
    .edit-tip-form {
        width: 350px;
    }
}

.edit-tip-image {
    padding-top: 30px;
    padding-bottom: 30px;
}

.label-style {
    padding-top: 30px;
    font-weight: 500;
}

.textarea.form-control {
    min-height: 150px;
}

/*--------------------------------------------------------login.html*/

.login-heading {
    padding-top: 50px;
}

.btn-signup {
    background-color: #4c8474;
}

.sign-up-image {
    padding-top: 40px;
}