@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cabin', sans-serif;
}

/*--------------------------------------------------------Button styling */

.btn {
    color: #ffffff;
}

.btn:hover{
    color: #ffffff;
}

.btn-index-card {
    color: black;
    background-color: #ffffff;
}

.btn-index-card:hover{
    color: black;
    background-color: #Ede0de;
}

.btn-tips-search {
    background-color: #ab8de5;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.btn-tips-search:hover{
    background-color: #d4c3f5;
}

.btn-cancel {
    background-color: #b47464;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.btn-cancel:hover{
    background-color: #ea9782;
}

.btn-tips-update {
    background-color: #56b39c;
}

.btn-tips-update:hover{
    background-color: #96e4d1;
}

.btn-share-tip {
    background-color:#f5c650;
}

.btn-share-tip:hover{
    background-color: #fbdc8e;
}

.btn-login {
    background-color: #ab8de5;
}

.btn-login:hover{
    background-color: #d4c3f5;
}

.btn-logout {
    background-color: #a59998;
}

.btn-logout:hover{
    background-color: #Ede0de; 
}

.btn-signup {
    background-color: #4c8474;
}

.btn-signup:hover {
    background-color: #81d6be;
}

/*-------------------------------------------------------- Scroll to top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #4c8474;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: #555;
}

/*--------------------------------------------------------Flash Messages */

.flash-message {
    text-align: center;
    font-weight: 700;
    padding-top: 100px;
}

.flash-message-style {
    color: #b47464;
}

/*--------------------------------------------------------Navbar*/

.navbar {
    background-color: #Ede0de;
    padding-left: 20px;
    padding-right: 20px;;
}

@media screen and (max-width: 560px) {
    .navbar-brand {
    width: 130px;
    }
}

.navbar-light .navbar-brand {
    font-size: 35px;
    font-weight: 700;
    color: #4c8474;
    text-decoration-line: underline;
   text-decoration-style: wavy;
}

.active-menu {
    color: #4c8474 !important;
    font-weight: bolder;
}

/*--------------------------------------------------------Footer*/

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
    background-color: #fbdfda;
    color: dimgrey;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.fa-facebook-f {
    color: #4c8474;
    font-size: 1.5rem;
}

.fa-facebook-f:hover{
    color: #555;
}

.fa-instagram {
    color: #4c8474;
    font-size: 1.5rem;
}

.fa-instagram:hover{
    color: #555;
}
/*--------------------------------------------------------index.html*/

.index-main {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .index-main{
    padding-top: 30px;
    }
}

.index-main h2 {
    padding-top: 30px;
    font-weight: 300;
}

.index-cards {
    padding-top: 60px;
    padding-bottom: 20px;
}

.index-card-style {
    padding-top: 10px;
}

@media screen and (min-width: 768px) {
    .index-card-style{
    padding-left: 20px;
    padding-right: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .index-cards{
    padding-top: 120px;
    }
}

.index-card-1 {
    background-color: #fbdc8e;
    padding-top: 10px;
}

.index-card-2 {
   background-color: #56b39c;
    padding-top: 10px;
}

.index-card-3 {
   background-color: #ab8de5;
   padding-top: 10px;
   
}

/*--------------------------------------------------------tips.html*/

.tips {
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .tips{
    padding-top: 30px;
    }
}

.tips-title {
    padding-top: 150px;
}

@media screen and (max-width: 768px) {
    .tips-title{
    text-align: center;
    padding-top: 30px;
    }
}

#tips-board {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tips-search {
    padding: 50px;
}

@media screen and (max-width: 560px) {
    .tips-search {
    padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .tips-search {
    padding: 5px;
    }
}
.tip-suggestion-card {
    padding-top: 10px;
    background-color: #fbdc8e;
}

.search-tips {
    font-size: 30px;
    font-weight: bold;
}

/*--------------------------------------------------------add_tip.html*/

.add-tip-image {
    padding-top: 30px;
}

.add-tip-heading {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-tip-form {
    width: 800px;
    padding: 10px;
    background-color: #56b39c;
}

@media screen and (max-width: 540px) {
    .add-tip-form {
        width: 300px;
        padding-right:10px;
        padding-left:10px;
    }
}

.form-select{
    margin-bottom: 1rem!important;
}

/*-------------------------------------------------------login.html*/

.login-form {
    padding-top: 30px;
    padding: 20px;
}

.login-image {
    height: 30rem;
    padding: 20px;;
}

.login-intro {
    padding-bottom: 10px;
}

/*--------------------------------------------------------mytips.html*/

.mytips-suggestion-card {
    padding-top: 10px;
    background-color: #fff;
}

.my-tips-header {
    padding: 20px;
}

.my-tips-header h3{
    font-size: 35px;;
    padding-top: 10px;
    color: #4c8474;
    font-weight: 600;
}

.my-tips-section {
    padding-top: 20px;
}

/*--------------------------------------------------------edit_tip.html*/

.edit-tip-heading {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4c8474;
}

.edit-tip-form {
    width: 800px;
    padding: 10px;
}

@media screen and (max-width: 540px) {
    .edit-tip-form {
        width: 300px;
    }
}

.edit-tip-image {
    padding-top: 30px;
    padding-bottom: 30px;
}

.label-style {
    padding-top: 30px;
    font-weight: 500;
}

.textarea.form-control {
    min-height: 150px;
}

/*--------------------------------------------------------login.html*/

.login-heading {
    padding-top: 50px;
}

.sign-up-image {
    padding-top: 40px;
}