{% extends "base.html" %}

<!--Sets this page as current page on nav-->
{% block nav_addtips %} active-menu {% endblock %}

{% block content %}
<div class="container-fluid add-tip-image">
    <div class="row">
        <div class="col text-center">
            <img class="img-fluid" src="{{url_for('static', filename='/images/' + 'plant-3.png')}}" alt="Plant" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 add-tip-heading text-center">
            <h3 class="center-align">Share your working from home tips!</h3>
            <br>
            <h4 class="center-align">Complete the form below and then click on the Share button to add your tip to 
                our community tips board.
            </h4>
            <br>
        </div>
    </div>
</div>
<div class="container add-tip-form">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-left mx-auto">
            <form method="POST" action="{{ url_for('add_tip')}}">
                <label for="category_name" class="form-label">Choose category</label>
                <select class="form-select validate" id="category_name" name="category_name"
                    aria-label="Default select example">
                    <option selected></option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <div class="mb-3">
                    <label for="tip_suggestion" class="form-label">Suggestion</label>
                    <input type="text" class="form-control" id="tip_suggestion" name="tip_suggestion" minlength="5"
                        maxlength="25" required>
                </div>
                <div class="mb-3">
                    <label for="tip_details" class="form-label">Details</label>
                    <input type="text" class="form-control" id="tip_details" name="tip_details" minlength="5"
                        maxlength="100" required>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-share-tip">Share!</button>
                <a href="{{ url_for('tips')}}" class="btn btn-cancel-tip">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}