{% extends "base.html" %}

{% block content %}
<h4 class="center-align">Edit your tips here</h4>
<div class="row">
    <div class="col">
        <form method="POST" action="{{ url_for('edit_tip', tip_id = tip._id)}}">
            <select class="form-select validate" id="category_name" name="category_name" aria-label="Default select example">
                <option>Choose category</option>
                {% for category in categories %}
                     {% if category.category_name == tip.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="mb-3">
                <label for="tip_suggestion" class="form-label">Suggestion</label>
                <input type="text" class="form-control" id="tip_suggestion" name="tip_suggestion" 
                value="{{ tip.tip_suggestion }}" minlength="5" maxlength="25" required>
            </div>
            <div class="mb-3">
                <label for="tip_details" class="form-label">Details</label>
                <textarea class="form-control" id="tip_details" name="tip_details" 
                minlength="5" maxlength="100" required>
                {{- tip.tip_details -}}
            </textarea>
            </div>                    
            <a href="{{ url_for('tips')}}" class="btn btn-primary btn-sm">Cancel</a>
            <button type="submit" class="btn btn-primary btn-sm">Save Update</button>
        </form>
    </div>
</div>

{% endblock %}