{% extends "base.html" %}

{% block content %}
<h4 class="center-align">Edit your tips here</h4>
<div class="row">
    <div class="col">
        <form method="POST" action="{{ url_for('edit_tip', tip_id = tip._id)}}">
            <select class="form-select validate" id="category_name" name="category_name" aria-label="Default select example">
                <option selected>Choose category</option>
                {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label for="tip_suggestion" class="form-label">Suggestion</label>
                <input type="text" class="form-control" id="tip_suggestion" name="tip_suggestion" minlength="5" maxlength="25" required>
            </div>
            <div class="mb-3">
                <label for="tip_details" class="form-label">Details</label>
                <input type="text" class="form-control" id="tip_details" name="tip_details" minlength="5" maxlength="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>

{% endblock %}