{% extends "base.html" %}

<!--Sets this page as current page on nav-->
{% block nav_login %} active-menu {% endblock %}

{% block content %}

<div class="container-fluid login-heading">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="text-center">Please login below...</h3>
            <form method="POST" action="{{ url_for('log_in') }}" class="login-form">
                <div class="mb-3">
                    <label for="username" class="form-label text-left">Username</label>
                    <input type="text" class="form-control" id="username" placceholder="username" 
                    name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-left">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password"
                    name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-login" id="log-in-btn">Log In</button>
                </div>
            </form>
            <br>
            <br>
            <div class="text-center">
                <h4>Don't have an account with us yet?</h4>
                 <a class="btn btn-signup" id="redirect-signin-btn" href="{{ url_for('sign_up') }}">Sign Up</a>     
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img class="img-fluid login-image" src="{{url_for('static', filename='/images/' + 'mouse.png')}}" alt="mouse graphics" />
        </div>
    </div>
</div>


{% endblock %}  