{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Please log in below</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <form method="POST" action="{{ url_for('log_in') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placceholder="username" 
                    name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="password"
                    name="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
                <button type="submit" class="btn btn-primary" id="log-in-btn">Log In</button>
            </form>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 justify-content-center">
        <div>
            <h4 class="smaller-heading">Don't have an account with us yet?</h4>
            <a class="btn" id="redirect-signin-btn" href="{{ url_for('sign_up') }}">Sign Up</a>
        </div>
</div>
{% endblock %}  