{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Welcome to our remote community!</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <form method="POST" action="{{ url_for('sign_up') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placceholder="username" name="username"
                        required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 justify-content-center">
        <div>
            <h4 class="smaller-heading">Already have an account with us?</h4>
            <a class="btn" id="redirect-signin-btn" href="#">Sign In</a>
        </div>
</div>
{% endblock %}  