{% extends "base.html" %}

<!--Sets this page as current page on nav-->
{% block nav_tips %} active-menu {% endblock %}

{% block content %}

<div class="container-fluid tips">
    <div class="row">
        <div class="col-12 col-lg-6 ">
            <img class="img-fluid" src="{{url_for('static', filename='/images/' + 'example-scene-1.png')}}" alt="Woman working at on a laptop at home" />
        </div>
        <div class="col-12 col-lg-6 tips-title">
            <h2>Welcome to our Remote community tips board!</h2>
            <h4>Here you can find all sorts of suggestions 
                to help you whilst you are working from home. Why not pick a few and give them a go?
            </h4>
        </div>
    </div>
</div>    
<div class="container-fluid">
    <div class="row text-center">
        <div class="col tips-search">
            <form action="{{url_for('search')}}" method="POST">
                <label for="query" class="form-label search-tips">Search tips</label>
                <input type="text" name="query" id="query" minlength="3" required>
                <button class="btn btn-tips-search btn-lg" type="submit" value="Submit">Search</button>
                <a href="{{ url_for('tips')}}" class="btn btn-lg btn-tips-reset">Reset</a>
            </form>
        </div>
    </div>
</div>
    {% if tips|length > 0 %}
    <div class="container-fluid"">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center tips-main">
                {% for tip in tips %}
                    <div class="card tip-suggestion-card">
                        <div class=" card-body">
                            <h5 class="card-title tip-suggestion-title">{{ tip.tip_suggestion }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ tip.category_name }}</h6>
                            <p class="card-text">{{ tip.tip_details }}</p>
                            <p class="fst-italic">This tip was shared by {{ tip.created_by }}</p>
                                {% if session.user|lower == tip.created_by %}
                                <a href="{{ url_for('delete_tip', tip_id=tip._id)}}" class="btn btn-tips-delete btn-sm">Delete</a>
                                <a href="{{ url_for('edit_tip', tip_id=tip._id)}}" class="btn btn-tips-update btn-sm">Edit</a>
                                {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
                {% else %}
                <h3>No results found</h3>
                {% endif %}
        </div>
    </div>


{% endblock %}
